body {
  font-family: Arial, sans-serif;
}

.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px 0;
  /* gap: 120px; */
}

.containert {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #2c3e50;
  gap: 110px;
}

.footer-left {
  flex: 1;
}

.footer-logo {
  /* display: flex; */
  align-items: center;
  text-decoration: none;
  color: #ecf0f1;
}

.footer-logo-img {
  height: 40px;
  margin-right: 10px;
  /* margin-top: 30px; */
}

.footer-logo-text {
  font-size: 24px;
  font-weight: bold;
}

.footer-sections {
  flex: 3;
  display: flex;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
}

.footer-heading {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 8px;
}

.footer-list a {
  text-decoration: none;
  color: #bdc3c7;
  /* color: black; */
  transition: color 0.3s;
}

.footer-list a:hover {
  color: green;
  /* color: red; */
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid #7f8c8d;
  padding-top: 10px;
}
