.mani {
    padding: 20px;
    margin: 0%;
    padding-left: 20px;
    /* text-align: center; */
  }
  
  .hole {
    margin: auto;
    width: 80%;
  }
  
  /* .hello {
    padding: 10px;
  } */
  
  .img {
    width: 1300px;
    height: 500px;
    /* margin-left: -50px; */
  }
  